{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="max-w-xl mx-auto">
        <form method="post" class="grid grid-cols-2">
            {% if error %}
                <div class="mb-3 col-span-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 col-span-2">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="text-2xl col-span-2 mb-10"> {{ 'SIGN_IN'|trans }}</h1>

            <label class="col-span-2 md:col-span-1 mb-3 md:mb-5" for="inputEmail">{{ 'LOGIN_EMAIL'|trans }}</label>
            <input class="col-span-2 md:col-span-1 mb-6 md:mb-5" type="email" value="{{ last_username }}"
                   name="email"
                   id="inputEmail"
                   placeholder="Email"
                   autocomplete="email"
                   required
                   autofocus>

            <label class="col-span-2 md:col-span-1 mb-3 md:mb-5"
                   for="inputPassword">{{ 'LOGIN_PASSWORD'|trans }}</label>
            <input class="col-span-2 md:col-span-1 mb-6 md:mb-5"
                   type="password"
                   name="password"
                   id="inputPassword"
                   autocomplete="current-password"
                   required
                   placeholder="Password">

            <label for="remember_me" class="col-span-2 mb-6 md:mb-5">
                <input ID="remember_me" type="checkbox" name="_remember_me" checked>
                {{ ''|trans }}Remember me
            </label>
            <button class="col-span-2 bg-background-secondary p-2 mb-6 md:mb-5" type="submit">
                {{ 'SIGN_IN'|trans }}
            </button>
            <p class="text text-secondary col-span-2">
                {{ 'FORGOTEN_PASWORD'|trans }}, <a href="{{ path('app_forgot_password_request') }}">reset</a>
            </p>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
{% endblock %}
