{% extends 'base.html.twig' %}

{% block title %}Hello DashBoardController!{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3 px-2 md:px-0">
        <span>{{ 'dashboard.overview'|trans }}</span>
    </h1>

    <div class="mt-8 md:mb-8 gap-4 flex fixed bottom-0 left-0 justify-center w-full md:relative md:justify-start bg-gray-900 md:bg-transparent py-2 z-10 ">
        {% if is_granted('CREATE') %}
            <a href="{% if documentNumberExist %}{{ path('app_document_new', {'company': company.publicId}) }}{% else %}#{% endif %}"
               class="px-4 py-2 order-2 md:order-1 rounded-sm  bg-gray-700 hover:bg-table-header hover:text-white/80 flex items-center {% if not documentNumberExist %}link-secondary pe-none{% endif %}">
                <svg class="size-5 mr-2">
                    <use href="#plus-circle-fill"/>
                </svg>
                <span>{{ 'button.invoice.new_invoice'|trans }}</span>
                {#                <span class="sm:hidden">{{ 'button.invoice.new_invoice_short'|trans }}</span> #}
            </a>
        {% endif %}
    </div>
    <div class="mb-2" {{ stimulus_controller('dashboard/masonry') }}>
        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-card-bg">
            <h2 class="text-xl font-semibold mb-4 p-2 bg-table-header text-text-primary">{{ 'dashboard.sales_overview'|trans }}</h2>
            <canvas
                    class="px-2"
                    {{ stimulus_controller('dashboard/chart') }}
                    data-dashboard--chart-type-value="bar"
                    data-dashboard--chart-data-value='{{ chartData|json_encode }}'
            ></canvas>
        </div>
        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-card-bg">
            <table class="w-full mb-4">
                <thead>
                <tr>
                    <td class="text-xl font-semibold mb-4 p-2 px-3 bg-table-header text-text-primary"
                        colspan="2">{{ 'dashboard.account_balance'|trans }}</td>
                </tr>
                </thead>
                <tbody class="text-text-secondary">
                {% for balance in balances %}
                <tr class="border-b border-b-border">
                    <td class="p-2 px-3">{{ balance.bankAccount.shortName?? balance.bankAccount.name }}</td>
                    <td class="p-2 px-3 text-right">{{ balance.balance }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-card-bg">
            <table class="w-full mb-4">
                <thead>
                <tr>
                    <td class="text-xl px-3 font-semibold mb-4 p-2 bg-table-header text-text-primary"
                        colspan="2">{{ 'dashboard.vat_records'|trans }}</td>
                </tr>
                </thead>
                <tbody class="text-text-secondary">
                <tr class="border-b border-b-border">
                    {% for vatToPay in vatsToPay.thisPeriod %}
                        <td class="p-2 px-3">{{ company.vatPaymentMode.value == enum('App\\Enum\\VatPaymentMode').MONTHLY.value?'dashboard.vat_records.this_month'|trans:'dashboard.vat_records.this_quarter'|trans }}</td>
                        <td class="p-2 px-3 text-right">{{ vatToPay.vatTotal }}{{ vatToPay.currency }}</td>
                    {% endfor %}
                </tr>

                {% for vatToPay in vatsToPay.previousPeriod %}
                    <td class="p-2 px-3">{{ company.vatPaymentMode.value == enum('App\\Enum\\VatPaymentMode').MONTHLY.value?'dashboard.vat_records.previous_month'|trans:'dashboard.vat_records.previous_quarter'|trans }}</td>
                    <td class="p-2 px-3 text-right">{{ vatToPay.vatTotal }}{{ vatToPay.currency }}</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if overdueInvoices|length >0 %}
            <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-card-bg">
                <div class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-6">
                    <div class="md:order-1 col-span-2 md:col-span-5 lg:col-span-6"><h2
                                class="text-xl font-semibold p-2 px-3 bg-table-header text-text-primary">{{ 'dashboard.unpaid_invoices'|trans }}</h2>
                    </div>
                </div>
                {% for overdueInvoice in overdueInvoices %}
                    {% set diff = ('now'|date('U') - overdueInvoice.dateDue|date('U')) // 86400 %}
                    <div class="grid grid-cols-2 border-b border-b-border">
                        <div class="p-2 px-3 pb-1 sm:col-span-1 text-lg font-medium text-text-primary">
                            <a href="{{ path('app_document_show',{'company':company.publicId,'document':overdueInvoice.id}) }}"
                               class="text-decoration-none">{{ overdueInvoice.documentNumber }}</a></div>
                        <div class="p-2 pb-1 text-right text-lg font-medium text-text-primary">
                            {{ overdueInvoice.remainingAmount }}
                        </div>
                        <div class="px-3 pb-1 pt-0 text-xs font-normal">
                            {{ overdueInvoice.customer.name|default('') }}
                        </div>
                        <div class="px-2 pb-1 pt-0 text-xs font-normal lg:text-base text-right
{% if (diff > 0) and (diff < 7) %} text-warning {% endif %} {{ diff >= 7 ?' text-red-500' : '' }}">
                            {{ overdueInvoice.dateDue|diff_for_humans }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-card-bg ">
            <h2 class="text-xl font-semibold p-2 px-3 bg-table-header text-text-primary">{{ 'dashboard.best_customers'|trans }}</h2>

            <p class="p-2 px-3">
                {% for customer in customers %}
                    {{ customer.name }}<br>
                {% endfor %}
        </div>
    </div>
{% endblock %}
