{% extends 'base.html.twig' %}

{% block title %}Hello DashBoardController!{% endblock %}

{% block body %}
    {% if is_granted('CREATE') %}
        <a href="{% if documentNumberExist %}{{ path('app_document_new', {'company': company.id}) }}{% else %}#{% endif %}"
           class="text-green-700 hover:text-green-500 mb-4 flex justify-start items-center space-x-1 {% if not documentNumberExist %}link-secondary pe-none{% endif %}">
            <svg class="size-8">
                <use href="#plus-circle-fill"/>
            </svg>
            <span>{{ 'button.invoice.new_invoice'|trans }}</span></a>
    {% endif %}
    <div class="mb-2" {{ stimulus_controller('dashboard/masonry') }}>

        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-background-secondary">
            <table class="w-full mb-4">
                <thead>
                <tr>
                    <td class="text-xl font-semibold mb-4 p-2 bg-table-header text-text-primary"
                        colspan="2">{{ 'dashboard.account_balance'|trans }}</td>
                </tr>
                </thead>
                <tbody class="text-text-secondary">
                <tr class="border-b border-b-border">
                    <td class="p-2">Fio</td>
                    <td class="p-2 text-right">10 000 Kč</td>
                </tr>
                <tr class="border-b border-b-border">
                    <td class="p-2">Air bank</td>
                    <td class="p-2 text-right">99 000 Kč</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-background-secondary">
            <h2 class="text-xl font-semibold mb-4 p-2 bg-table-header text-text-primary">{{ 'dashboard.sales_overview'|trans }}</h2>
            <canvas
                    class=""
                    {{ stimulus_controller('dashboard/chart') }}
                    data-dashboard--chart-type-value="bar"
                    data-dashboard--chart-data-value='{{ chartData|json_encode }}'
            ></canvas>
        </div>
        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-background-secondary">
            <table class="w-full mb-4">
                <thead>
                <tr>
                    <td class="text-xl font-semibold mb-4 p-2 bg-table-header text-text-primary"
                        colspan="2">{{ 'dashboard.vat_records'|trans }}</td>
                </tr>
                </thead>
                <tbody class="text-text-secondary">
                <tr class="border-b border-b-border">
                    <td class="p-2">Tento měsíc</td>
                    <td class="p-2 text-right">10 000kč</td>
                </tr>
                <tr class="border-b border-b-border">
                    <td class="p-2">Minulý měsíc</td>
                    <td class="p-2 text-right">10 000kč</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-background-secondary">
            <div class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-6">
                <div class="md:order-1 col-span-2 md:col-span-5 lg:col-span-6"><h2
                            class="text-xl font-semibold p-2 bg-table-header text-text-primary">{{ 'dashboard.unpaid_invoices'|trans }}</h2>
                </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-6 border-b border-b-border">
                <div class="p-2 pb-1 md:p-2 sm:col-span-1 md:order-1 text-lg font-medium md:text-base md:font-normal text-text-primary/60">
                    <a href="/cs/1/document/4622/edit" class="text-decoration-none">2510000004</a></div>
                <div class="p-2 pb-1 md:p-2 md:order-6 text-right text-lg font-medium md:text-base md:font-normal text-text-primary/60">
                    121.00
                </div>
                <div class="px-2 pb-1 pt-0 md:p-2 md:order-2 text-xs font-light md:text-base md:font-normal md:col-span-2 lg:col-span-3">
                    AURES Holdings a.s.
                </div>
                <div class="px-2 pb-1 pt-0 md:p-2 md:order-3 text-xs font-light md:text-base md:font-normal md:text-md text-right">
                    2025-05-15
                </div>

            </div>
            <div class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-6 border-b border-b-border">
                <div class="p-2 pb-1 md:p-2 sm:col-span-1 md:order-1 text-lg font-medium md:text-base md:font-normal text-text-primary/60">
                    <a href="/cs/1/document/4621/edit" class="text-decoration-none">2510000003</a></div>
                <div class="p-2 pb-1 md:p-2 md:order-6 text-right text-lg font-medium md:text-base md:font-normal text-text-primary/60">
                    200.00
                </div>
                <div class="px-2 pb-1 pt-0 md:p-2 md:order-2 text-xs font-light md:text-base md:font-normal md:col-span-2 lg:col-span-3">
                    AURES Holdings a.s.
                </div>
                <div class="px-2 pb-1 pt-0 md:p-2 md:order-3 text-xs font-light md:text-base md:font-normal md:text-md text-right">
                    2025-05-13
                </div>
            </div>
        </div>


        <div class="masonry-item w-full md:w-1/2 -mx-1 my-2 bg-background-secondary ">
            <h2 class="text-xl font-semibold  p-2 bg-table-header text-text-primary">{{ 'dashboard.best_customers'|trans }}</h2>

            <p class="p-2">
                Data<br>
                Data<br>
                data<br>
                Data<br>
                data</p>
        </div>
    </div>
{% endblock %}
