{{ form_start(form) }}
{{ form_row(form.numberFormat) }}
{{ form_row(form.nextNumber) }}

<button class="w-full mt-10 p-2 bg-success/60 hover:bg-success text-white/80 hover:text-white/90"
        type="submit">{{ button_label|default('button.save') }}</button>
{{ form_end(form) }}
