{% extends 'base.html.twig' %}

{% block title %}DocumentNumbers index{% endblock %}

{% block body %}
    <h1 class="mb-5">
        <a href="{{ path('app_dash_board',{'company': company.id}) }}" class="text-decoration-none">
            <svg class="bi me-3 mb-1" width="30" height="30">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>DocumentNumbers index
    </h1>

    <table class="table">
        <thead>
        <tr>
            <th>Year</th>
            <th>NumberFormat</th>
            <th>NextNumber</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for documentTypeId,documentNumber in documentNumbers %}
            <tr>
                <td>{{ documentNumber.documentType.name }}</td>
                <td>{{ documentNumber.numberFormat }}</td>
                <td>{{ documentNumber.nextNumber }}</td>
                <td>{% if documentNumber.id is null %}
                        {% if is_granted('CREATE') %}
                            <a href="{{ path('app_document_numbers_new', {'documentType': documentTypeId, 'company':company.id}) }}">edit</a>
                        {% endif %}
                    {% else %}
                        {% if is_granted('EDIT', documentNumber) %}
                            <a href="{{ path('app_document_numbers_edit', {'documentNumber': documentNumber.id, 'company':company.id}) }}">edit</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
