{% extends 'base.html.twig' %}

{% block title %}{{ 'document_number.document_numbers'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3">
        <a href="{{ path('app_dash_board',{'company': company.id}) }}" class="text-decoration-none">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>{{ 'document_number.document_numbers'|trans }}</span>
    </h1>

    <div class="bg-background-secondary p-0 md:p-4">
        <div class="bg-table-header text-text-primary/80 grid grid-cols-[1fr_1fr_1fr_50px]">
            <div class="p-2">{{ 'document_number.document_type'|trans }}</div>
            <div class="p-2">{{ 'document_number.format'|trans }}</div>
            <div class="p-2">{{ 'document_number.next_number'|trans }}</div>
            <div class="p-2"></div>
        </div>
        {% for documentTypeId,documentNumber in documentNumbers %}
            <div class="grid grid-cols-[1fr_1fr_1fr_50px] border-b border-b-border">
                <div class="p-2">{{ documentNumber.documentType.name }}</div>
                <div class="p-2">{{ documentNumber.numberFormat }}</div>
                <div class="p-2">{{ documentNumber.nextNumber }}</div>
                <div class="p-2">{% if documentNumber.id is null %}
                        {% if is_granted('CREATE') %}
                            <a href="{{ path('app_setting_document_numbers_new', {'documentType': documentTypeId, 'company':company.id}) }}">
                                <svg class="size-4">
                                    <use href="#plus-circle-fill"/>
                                </svg>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if is_granted('EDIT', documentNumber) %}
                            <a href="{{ path('app_setting_document_numbers_edit', {'documentNumber': documentNumber.id, 'company':company.id}) }}">
                                <svg class="size-4">
                                    <use href="#pen-to-square"/>
                                </svg>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="p-2">{{ 'document_number.no_record_found'|trans }}</p>
        {% endfor %}
    </div>
{% endblock %}
