{% form_theme form 'form/bootstrap_5_horizontal_layout.html.twig' %}
{{ form_start(form) }}
<div class="row mb-5" {{ stimulus_controller('customer/ico-autofill',{}) }}>
    <div {{ stimulus_target('customer/ico-autofill','alertBox') }}></div>
    <div class="col-md-6">
        {{ form_row(form.country, { attr: { 'data-customer--ico-autofill-target': 'countryInput' } }) }}
        <div class="mb-3 row">
            <div class="input-group">
                {{ form_label(form.companyNumber) }}
                {{ form_widget(form.companyNumber, { attr: { 'data-customer--ico-autofill-target': 'companyNumberInput' }}) }}
                <button class="btn btn-outline-secondary" type="button" id="button-addon"
                        data-action="customer--ico-autofill#lookup">Auto fill
                </button>
                <div class="invalid-feedback ">
                    Please choose a username.
                </div>
            </div>
        </div>
        {{ form_row(form.name, { attr: { 'data-customer--ico-autofill-target': 'nameInput' } }) }}
        {{ form_row(form.contact) }}
        {{ form_row(form.street, { attr: { 'data-customer--ico-autofill-target': 'streetInput' } }) }}
        {{ form_row(form.town, { attr: { 'data-customer--ico-autofill-target': 'townInput' } }) }}
        {{ form_row(form.isVatPayer,{ attr: { 'data-customer--ico-autofill-target': 'isVatPayerInput' } }) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.vatNumber, { attr: { 'data-customer--ico-autofill-target': 'vatNumberInput' } }) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.houseNumber, { attr: { 'data-customer--ico-autofill-target': 'houseNumberInput' } }) }}
        {{ form_row(form.zipcode, { attr: { 'data-customer--ico-autofill-target': 'zipcodeInput' } }) }}
        {{ form_row(form.bankAccount) }}
        {{ form_row(form.web) }}
    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
