{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
{{ form_start(form) }}
<div class="row mb-5">
    <div class="col-md-6">
        {{ form_row(form.companyNumber) }}
        {{ form_row(form.name) }}
        {{ form_row(form.contact    ) }}
        {{ form_row(form.street) }}
        {{ form_row(form.town) }}
        {{ form_row(form.country) }}
        {{ form_row(form.isVatPayer) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.vatNumber) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.houseNumber) }}
        {{ form_row(form.zipcode) }}
        {{ form_row(form.bankAccount) }}
        {{ form_row(form.web) }}
    </div>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
