{% extends 'base.html.twig' %}

{% block title %}Adresář{% endblock %}

{% block body %}
    <h1 class="mb-5">
        <a href="{{ path('app_dash_board') }}" class="text-decoration-none">
            <svg class="bi me-3 mb-1" width="30" height="30">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        Adresář
    </h1>
    <a href="{{ path('app_customer_new') }}" class="text-decoration-none">
        <svg width="16" height="16" class="bi me-1">
            <use href="#plus-circle-fill"/>
        </svg>
        NOVÝ</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Town</th>
            <th>BankAccount</th>
            <th>Ic</th>
            <th>Dic</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>
                    <a href="{{ path('app_customer_edit', {'id': customer.id}) }}"
                       class="text-decoration-none">{{ customer.name }}</a>
                </td>
                <td>{{ customer.town }}</td>
                <td>{{ customer.bankAccount }}</td>
                <td>{{ customer.ic }}</td>
                <td>{{ customer.dic }}</td>
                <td>
                    <a href="{{ path('app_customer_delete', {'id': customer.id}) }}"
                       class="text-secondary icon-link-hover">
                        <svg class="bi d-block mx-auto" width="20" height="20">
                            <use href="#dash-circle-fill"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
