{% extends 'base.html.twig' %}

{% block title %}{{ 'bank_account.bank_accounts'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3">
        <a href="{{ path('app_dash_board',{'company': company.id}) }}" class="text-decoration-none">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>{{ 'bank_account.bank_accounts'|trans }}</span>
    </h1>

    <div class="grid grid-flow-col justify-end md:justify-start space-x-3 md:space-x-4 p-3">
        {% if is_granted('CREATE') %}<a href="{{ path('app_setting_account_new',{'company':company.id}) }}"
                                        class="text-primary flex justify-start items-center space-x-1
fixed bottom-20 right-20 md:relative md:bottom-auto md:right-auto">
            <svg class="size-10  md:size-5">
                <use href="#plus-circle-fill"/>
            </svg>
            <span class="hidden md:block">{{ 'bank_account.add_accounts'|trans }}</span>
            </a>{% endif %}
    </div>

    <div class="bg-background-secondary p-0 md:p-4 mb-8">
        <div class="bg-table-header text-text-primary/80 grid grid-cols-[40px_1fr_1fr_50px] md:grid-cols-[50px_1fr_2fr_2fr_1fr_50px]">
            <div class="p-2">#</div>
            <div class="p-2">{{ 'bank_account.name'|trans }}</div>
            <div class="p-2">{{ 'bank_account.number'|trans }}</div>
            <div class="p-2 hidden md:block">{{ 'bank_account.iban'|trans }}</div>
            <div class="p-2 hidden md:block">{{ 'bank_account.bic'|trans }}</div>
            <div class="p-2"></div>
        </div>
        <div class="grid grid-cols-[40px_1fr_1fr_50px] md:grid-cols-[40px_1fr_2fr_2fr_1fr_50px] border-b border-b-border">
            {% for bank_account in bank_accounts %}
                <div class="p-2">{{ bank_account.sequence }}</div>
                <div class="p-2">{% if is_granted('EDIT', bank_account) %}<a
                        href="{{ path('app_setting_account_edit', {'company':company.id,'bankAccount': bank_account.id}) }}"
                        class="text-decoration-none">{{ bank_account.shortName }}</a>{% else %}{{ bank_account.shortName }}{% endif %}
                </div>
                <div class="p-2">{{ bank_account.accountNumber }}/{{ bank_account.bankCode }}</div>
                <div class="p-2 hidden md:block">{{ bank_account.iban }}</div>
                <div class="p-2 hidden md:block">{{ bank_account.bic }}</div>
                <div class="p-2 flex justify-end">{% if is_granted('EDIT', bank_account) %}<a
                        href="{{ path('app_setting_account_delete', {'company':company.id,'bankAccount': bank_account.id}) }}"
                        class="text-secondary icon-link-hover">
                            <svg class="size-5">
                                <use href="#dash-circle-fill"/>
                            </svg>
                        </a>{% endif %}</div>
            {% else %}
                <p class="p-2">{{ 'bank_account.no_record_found'|trans }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="bg-background-secondary p-4">
        <p class="text-center">platby.{{ company.companyInbox.first.inboxIdentifier }}@i-fakturace.eu</p>
    </div>
{% endblock %}
