<header class=" text-white border-b border-border mb-4"
        {{ stimulus_controller('navigation') }}>
    <nav class="bg-nav-background">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    {# Mobile menu button #}
                    <button type="button"
                            {{ stimulus_target('navigation','mobileMenuButton') }}
                            {{ stimulus_action('navigation','toggleMobileMenu') }}
                            class="relative inline-flex items-center justify-center rounded-sm p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <!--
                          Icon when menu is closed.

                          Menu open: "hidden", Menu closed: "block"
                        -->
                        <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                        <!--
                          Icon when menu is open.

                          Menu open: "block", Menu closed: "hidden"
                        -->
                        <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex shrink-0 items-center">
                        <a href="{{ path('app_dash_board',{'company': company.publicId}) }}">
                            <svg class="size-10">
                                <use href="#tailwind-logo"/>
                            </svg>
                        </a>
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4 items-center">
                            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                            <a href="{{ path('app_dash_board',{'company': company.publicId}) }}"
                               class="rounded-sm {% if app.current_route == 'app_dash_board' %}bg-gray-900{% endif %} px-3 py-2 text-sm font-medium text-white"
                               aria-current="page">{{ 'navigation.dashboard'|trans }}</a>
                            <a href="{{ path('app_document_index', {'company': company.publicId}) }}"
                               class="rounded-sm {% if app.current_route starts with 'app_document' %}bg-gray-900{% endif %} px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.invoices'|trans }}</a>
                            <a href="#"
                               class="rounded-sm px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.expenses'|trans }}</a>
                            <a href="{{ path('app_payment_index', {'company': company.publicId}) }}"
                               class="rounded-sm px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.payments'|trans }}</a>
                            <a href="{{ path('app_customer_index',{'company': company.publicId}) }}"
                               class="rounded-sm {% if app.current_route starts with 'app_customer' %}bg-gray-900{% endif %} px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.customers'|trans }}</a>
                            <div class="relative group">
                                <div class="rounded-sm {% if app.current_route starts with 'app_setting' %}bg-gray-900{% endif %} px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.settings'|trans }}</div>
                                <div class="absolute hidden group-hover:block bg-gray-800 text-white rounded-sm shadow-lg z-20 w-max whitespace-nowrap"
                                >
                                    <a href="{{ path('app_setting_edit', {'company': company.publicId}) }}"
                                       class="block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.company_info'|trans }}</a>
                                    <a href="{{ path('app_setting_account_index', {'company': company.publicId}) }}"
                                       class="block px-4 py-2 text-sm hover:bg-gray-700 ">{{ 'navigation.bank_accounts'|trans }}</a>
                                    <a href="{{ path('app_setting_document_numbers_index', {'company': company.publicId}) }}"
                                       class="block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.document_numbers'|trans }}</a>
                                    <a href="{{ path('app_setting_currency_edit', {'company': company.publicId}) }}"
                                       class="group-hover:block block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.currencies'|trans }}</a>
                                    <a href="{{ path('app_email_template', {'company': company.publicId}) }}"
                                       class="group-hover:block block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.invoice_template'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button type="button" id="toggle-theme"
                            class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-0">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">Switch mode</span>
                        <svg class="size-5">
                            <use href="#circle-half-stroke"/>
                        </svg>

                    </button>

                    <!-- Profile dropdown -->
                    <div class="relative ml-3">
                        <div class="relative group" id="user-menu">
                            <button type="button"
                                    data-action="click->navigation#toggleUserMenu"
                                    class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-0"
                            >
                                <svg class="size-5">
                                    <use href="#user"/>
                                </svg>
                            </button>
                            <div {{ stimulus_target('navigation','userSubmenu') }}
                                    class="absolute hidden group-hover:block right-0 origin-top-right  py-1  bg-nav-background-secondary text-white rounded-sm shadow-lg z-10 w-max whitespace-nowrap">
                                <!-- Active: "bg-gray-100 outline-hidden", Not Active: "" -->
                                <a href="{{ path('app_user_edit', {'company': company.publicId}) }}"
                                   class="block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.personal_info'|trans }}</a>
                                <a href="{{ path('app_logout') }}"
                                   class="block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.sign_out'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div {{ stimulus_target('navigation','mobileMenu') }}
                class="hidden sm:hidden z-10 absolute bg-nav-background-secondary w-full">
            <div class="space-y-1 px-0 pt-2 pb-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="{{ path('app_dash_board',{'company': company.publicId}) }}"
                   class="block rounded-sm {% if app.current_route == 'app_dash_board' %}bg-gray-900{% endif %} px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                >{{ 'navigation.dashboard'|trans }}</a>
                <a href="{{ path('app_document_index', {'company': company.publicId}) }}"
                   class="block rounded-sm {% if app.current_route starts with 'app_document' %}bg-gray-900{% endif %} px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.invoices'|trans }}</a>
                <a href="#"
                   class="block rounded-sm px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.expenses'|trans }}</a>
                <a href="{{ path('app_payment_index', {'company': company.publicId}) }}"
                   class="block rounded-sm px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.payments'|trans }}</a>
                <a href="{{ path('app_customer_index',{'company': company.publicId}) }}"
                   class="block rounded-sm px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.customers'|trans }}</a>

                <a href="#"
                   class="block rounded-sm px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">{{ 'navigation.settings'|trans }}</a>
                <div class="pl-4">
                    <a href="{{ path('app_setting_edit', {'company': company.publicId}) }}"
                       class="block px-3 py-1 text-sm text-gray-300 {% if app.current_route == 'app_setting_edit' %}bg-gray-900{% endif %} hover:bg-gray-700 hover:text-white">{{ 'navigation.company_info'|trans }}</a>
                    <a href="{{ path('app_setting_account_index', {'company': company.publicId}) }}"
                       class="block px-3 py-1 text-sm text-gray-300 {% if app.current_route == 'app_setting_account_index' %}bg-gray-900{% endif %}  hover:bg-gray-700 hover:text-white">{{ 'navigation.bank_accounts'|trans }}</a>
                    <a href="{{ path('app_setting_document_numbers_index', {'company': company.publicId}) }}"
                       class="block px-3 py-1 text-sm text-gray-300 {% if app.current_route == 'app_setting_document_numbers_index' %}bg-gray-900{% endif %} hover:bg-gray-700 hover:text-white">{{ 'navigation.document_numbers'|trans }}</a>
                    <a href="{{ path('app_setting_currency_edit', {'company': company.publicId}) }}"
                       class="block px-3 py-1 text-sm text-gray-300 {% if app.current_route == 'app_setting_currency_edit' %}bg-gray-900{% endif %}  hover:bg-gray-700 hover:text-white">{{ 'navigation.currencies'|trans }}</a>
                    <a href="{{ path('app_email_template', {'company': company.publicId}) }}"
                       class="block px-3 py-1 text-sm text-gray-300 {% if app.current_route == 'app_email_template' %}bg-gray-900{% endif %}  hover:bg-gray-700 hover:text-white">{{ 'navigation.invoice_template'|trans }}</a>
                </div>

                {# <div class="pt-4 border-t-2 border-border">
                    <div
                            class="flex px-4 bg-gray-800 text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden"
                            aria-expanded="false" aria-haspopup="true">

                        <div class="flex-1">
                            <img class="size-8 rounded-full mr-2"
                                 src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                 alt="">
                        </div>
                        <div class="shrink-0">
                            {{ company.name }}
                        </div>
                        <div class="flex-1 text-right">
                            <button type="button"
                                    class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-0">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Switch mode</span>
                                <svg class="size-5">
                                    <use href="#circle-half-stroke"/>
                                </svg>

                            </button>
                        </div>
                    </div>
                    <div
                            class=" group-hover:block right-0 mt-1 origin-top-right  py-1  bg-gray-800 text-white rounded-sm shadow-lg z-10 w-max whitespace-nowrap">
                        <!-- Active: "bg-gray-100 outline-hidden", Not Active: "" -->
                        <a href="{{ path('app_user_edit', {'company': company.publicId}) }}"
                           class="block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.personal_info'|trans }}</a>
                        <a href="{{ path('app_logout') }}"
                           class="block px-4 py-2 text-sm hover:bg-gray-700">{{ 'navigation.sign_out'|trans }}</a>
                    </div>
                </div> #}
            </div>
        </div>
    </nav>

</header>