{{ form_start(form) }}
<div data-controller="document--price-calc document--dates document--extended-info"
     data-document--price-calc-vats-value="{{ vats|json_encode }}"
     data-document--price-calc-company-value="{{ company.id }}"
     data-document--dates-maturity-days-value="{{ company.maturityDays|default(14) }}"
     data-action="document--document-item-collection:add-row->document--price-calc#toggleDocumentWithWat">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 gap-x-4">
        <div class="col-span-1 order-1 ">
            {{ form_row(form.customer,{attr:{'data-document--price-calc-target':'customer',
                'data-action':"change->document--price-calc#customerChange"}}) }}
        </div>
        <div class="col-span-1 order-2 ">
            {{ form_row(form.dateIssue, {'attr':{'data-document--dates-target':'dateIssue','data-action':'document--dates#changeDate'}}) }}</div>
        <div class="col-span-1 order-3 md:order-4 hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.dateTaxable, {'attr':{'data-document--dates-target':'dateTaxable'}}) }}
        </div>
        <div class="col-span-1 order-4 md:order-6 hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.dateDue, {'attr':{'data-document--dates-target':'dateDue'}}) }}
        </div>
        <div class="col-span-1 order-5 md:order-3">
            {{ form_row(form.vatMode, {'attr':{'data-document--price-calc-target':'vatMode',
                'data-action':'document--price-calc#vatModeChange'}}) }}
        </div>
        <div class="col-span-1 order-6 md:order-5 hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.documentNumber) }}
        </div>
        <div class="col-span-1 order-7  hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.variableSymbol) }}
        </div>
        <div class="col-span-1 order-8  hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.paymentType) }}
        </div>
        <div class="col-span-1 order-9  hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.bankAccount) }}</div>
        <div class="col-span-1 order-10  hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.currency) }}
        </div>
        <div class="col-span-1 order-11  hidden" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.rate) }}
        </div>
        <div class="col-span-1 order-12  hidden md:col-span-2" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.tag) }}
        </div>
        <div class="col-span-1 order-13  hidden md:col-span-2" data-document--extended-info-target="extendedInfo">
            {{ form_row(form.description) }}
        </div>
        <div class="col-span-1 order-14 ">
            <div class="mb-1 grid grid-cols-[12rem_1fr]">
                <span></span>
                <button type="button"
                        class="flex align-middle justify-center gap-2 p-2 bg-blue-700 hover:bg-blue-500 text-blue-100"
                        data-action="document--extended-info#toggleInfo">
                    <svg class="size-4 mt-1">
                        <use href="#plus-circle"/>
                    </svg>
                    <span>{{ 'MORE_OPTIONS' }}</span>
                </button>
            </div>
        </div>
    </div>


    <div>
        <div
                {{ stimulus_controller('document/document-item-collection', {
                    index:  form.documentItems|length > 0 ? form.documentItems|last.vars.name + 1 : 0,
                }) }}

                data-document--document-item-collection-prototype-value="
     {{ '<div class="row-span-3 md:row-span-1 order-1 flex align-middle" data-document--price-calc-target="itemName"><button type="button" class="p-2 pr-0 rounded-xl hover:text-red-500 text-red-800" data-action="document--document-item-collection#removeCollectionElement"><svg class="size-5 m-1"><use href="#minus-circle"/></svg></button></div>'|e('html_attr') }}
     {{ '<div class="col-span-8 md:col-span-5 order-2">'|e('html_attr') }}{{ form_widget(form.documentItems.vars.prototype.name)|e('html_attr') }}{{ '</div>'|e('html_attr') }}
     {{ '<div class="col-span-2 md:col-span-2 order-3 text-right">'|e('html_attr') }}{{ form_widget(form.documentItems.vars.prototype.quantity,{'attr':{
                    'data-document--price-calc-target':'quantity',
                    'data-action':'document--price-calc#calc'
                }})|e('html_attr') }}{{ '</div>'|e('html_attr') }}
    {{ '<div class="col-span-2 md:col-span-1 order-4 text-right">'|e('html_attr') }}{{ form_widget(form.documentItems.vars.prototype.unit)|e('html_attr') }}{{ '</div>'|e('html_attr') }}
    {{ '<div class="col-span-2 md:col-span-2 order-5 text-right">'|e('html_attr') }}{{ form_widget(form.documentItems.vars.prototype.price, {'attr':{
                    'data-document--price-calc-target':'price',
                    'data-action':'document--price-calc#calc'
                }})|e('html_attr') }}{{ '</div>'|e('html_attr') }}
    {{ '<div class="col-span-2 md:col-span-2 order-6 text-right" data-document--price-calc-target="documentWithVat">'|e('html_attr') }}{{ form_widget(form.documentItems.vars.prototype.vat,{'attr':{
                    'data-document--price-calc-target':'vatPercentage',
                    'data-action':'document--price-calc#calc'
                }})|e('html_attr') }}{{ '</div>'|e('html_attr') }}
    {{ '<div class="hidden md:block col-span-8 md:col-span-2 order-7 text-right p-2"><div data-document--price-calc-target="priceItem">--</div></div'|e('html_attr') }}"
        >

            <button type="button" {{ stimulus_action('document/document-item-collection', 'addCollectionElement') }}
                    class="p-2 pr-0 rounded-xl hover:text-green-500 text-green-700">
                <svg class="size-6">
                    <use href="#plus-circle"/>
                </svg>
            </button>

            <div class="row grid grid-cols-[30px_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr] md:grid-cols-[50px_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr] gap-0 md:gap-2 mb-2 bg-table-header">
                <div class="row-span-3 md:row-span-1 order-1 flex align-middle col-md-5 px-2 py-1 md:p-2"></div>
                <div class="col-span-8 md:col-span-5 order-2 text-left px-2 py-1 md:p-2">{{ 'ITEM_NAME'|trans }}</div>
                <div class="col-span-2 md:col-span-2 order-3 text-left md:text-right px-2 py-1 md:p-2">{{ 'QUANTITY'|trans }}</div>
                <div class="col-span-2 md:col-span-1 order-4 text-right px-2 py-1 md:p-2">{{ 'UNIT_OF_MEASURE'|trans }}</div>
                <div class="col-span-2 md:col-span-2 order-5 text-right px-2 py-1 md:p-2">{{ 'PRICE_OF_UNIT_OF_MEASURE'|trans }}</div>
                <div class="col-span-2 md:col-span-2 order-6 text-right px-2 py-1 md:p-2" {{ stimulus_target('document/price-calc', 'documentWithVat') }}>{{ 'VAT'|trans }}</div>
                <div class="hidden md:block col-span-8 md:col-span-2 order-7 text-right px-2 py-1 md:p-2">{{ 'UNIT_PRICE_TOTAL'|trans }}
                </div>
            </div>


            <div class="mb-8" {{ stimulus_target('document/document-item-collection', 'collectionContainer') }}>
                {% for documentItem in form.documentItems %}
                    <div class="row grid grid-cols-[30px_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr] md:grid-cols-[50px_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr_1fr] gap-2 py-2.5 border-b border-input-border">
                        <div class="row-span-3 md:row-span-1 order-1 flex align-middle" {{ stimulus_target('document/price-calc', 'itemName') }}>
                            <button type="button" {{ stimulus_action('document/document-item-collection', 'removeCollectionElement') }}
                                    class="p-2 pr-0 rounded-xl hover:text-red-500 text-red-800">
                                <svg class="size-5 m-1">
                                    <use href="#minus-circle"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-span-8 md:col-span-5 order-2">{{ form_widget(documentItem.name) }}</div>
                        <div class="col-span-2 md:col-span-2 order-3 text-right">{{ form_widget(documentItem.quantity, {'attr':{
                                'data-document--price-calc-target':'quantity',
                                'data-action':'document--price-calc#calc'
                            }}) }}</div>
                        <div class="col-span-2 md:col-span-1 order-4 text-right">{{ form_widget(documentItem.unit) }}</div>
                        <div class="col-span-2 md:col-span-2 order-5 text-right">{{ form_widget(documentItem.price, {'attr':{
                                'data-document--price-calc-target':'price',
                                'data-action':'document--price-calc#calc'
                            }}) }}</div>
                        <div class="col-span-2 md:col-span-2 order-6 text-right"
                             data-document--price-calc-target="documentWithVat">
                            {{ form_widget(documentItem.vat, {'attr':{
                                'data-document--price-calc-target':'vatPercentage',
                                'data-action':'document--price-calc#calc'
                            }}) }}</div>
                        <div class="hidden md:block col-span-8 md:col-span-2 order-7 text-right p-2">
                            <div data-document--price-calc-target="priceItem">00.00</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="flex justify-end">
                <div class="w-96 grid grid-cols-[1fr_1fr] gap-2">
                    <div class="text-right"
                         data-document--price-calc-target="documentWithVat">{{ 'PRICE_TOTAL_WITHOUT_VAT'|trans }}:
                    </div>
                    <div class="text-right" data-document--price-calc-target="documentWithVat priceTotal">0.00</div>

                    <div class="text-right"
                         data-document--price-calc-target="documentWithVat">{{ 'PRICE_TOTAL_VAT'|trans }}:
                    </div>
                    <div class="text-right" data-document--price-calc-target="documentWithVat priceVat">0.00
                    </div>

                    <div class="text-right">{{ 'PRICE_TOTAL_WITH_VAT'|trans }}:
                    </div>
                    <div class="text-right" data-document--price-calc-target="priceTotalVat">0.00
                    </div>
                </div>
            </div>
        </div>

    </div>


    {{ form_row(form.priceTotal, {
        'attr' : { 'data-document--price-calc-target':'priceTotalWithVat' },
    }) }}
    {{ form_row(form.priceWithoutHighVat, {
        'attr' : { 'data-document--price-calc-target':'priceWithoutHighVat' },
    }) }}
    {{ form_row(form.priceWithoutLowVat, {
        'attr' : { 'data-document--price-calc-target':'priceWithoutLowVat' },
    }) }}
    {{ form_row(form.priceNoVat, {
        'attr' : { 'data-document--price-calc-target':'priceTotalWithoutVat' },
    }) }}


    <button class="w-full mt-10 p-2 bg-green-700 hover:bg-green-500 text-green-100"
            type="submit">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
