<div class="bg-background-secondary p-0 md:p-4">
    <div class="bg-table-header text-text-primary/80 grid grid-cols-2 md:grid-cols-6 lg:grid-cols-7">
        <div class="p-2 pb-1 md:p-2 md:order-1 sm:col-span-1">{{ 'invoice.document_number'|trans }}</div>
        <div class="p-2 pb-1 md:p-2 md:order-6 text-right">{{ 'invoice.to_pay'|trans }}</div>
        <div class="px-2 pb-2 pt-0 md:p-2 md:order-2 text-xs font-light md:text-base md:font-normal md:col-span-2 lg:col-span-3">
            {{ 'invoice.customer'|trans }}
        </div>
        <div class="px-2 pb-2 pt-0 md:p-2 md:order-3 text-xs font-light md:text-base md:font-normal text-right">
            {{ 'invoice.date_due'|trans }}
        </div>
        {#        <div class="p-2 md:order-4 hidden lg:block">Cena bez DPH</div> #}
        {#        <div class="p-2 md:order-5 hidden md:block">Cena s DPH</div> #}
        <div class="p-2 md:order-7 col-span-2 sm:col-span-1 hidden md:block"></div>
    </div>
    {% for document in documents %}
        {% set diff = ('now'|date('U') - document.dateDue|date('U')) // 86400 %}
        <div class="grid grid-cols-2 md:grid-cols-6 lg:grid-cols-7 border-b border-b-border">
            <div class="p-2 pb-1 md:p-2 sm:col-span-1 md:order-1 text-lg font-medium md:text-base md:font-bold text-text-primary/60 flex items-center">{% if is_granted('EDIT',document) %}
                    <a
                    href="{{ path('app_document_show', {'company': company.publicId, 'document': document.id}) }}"
                    class="text-decoration-none">{{ document.documentNumber }}</a>{% else %}{{ document.documentNumber }}{% endif %}
                {% if document.remainingAmount == 0 %}
                    <svg class="size-3.5 ml-2">
                        <use href="#check-circle-fill"/>
                    </svg>
                {% endif %}
                {% if document.remainingAmount < 0 %}
                    <svg class="size-3.5 ml-2 text-purple-500">
                        <use href="#triangle-exclamation"/>
                    </svg>
                {% endif %}
                {% if diff > 0 and document.remainingAmount > 0 %}
                    <svg class="size-3.5 ml-2 {% if (diff > 0) and (diff < 7) %} text-yellow-500 {% endif %} {{ diff >= 7 ?' text-red-500' : '' }}">
                        <use href="#triangle-exclamation"/>
                    </svg>
                {% endif %}
            </div>
            <div class="p-2 pb-1 md:p-2 md:order-6 text-right text-lg font-medium md:text-base md:font-normal text-text-primary/60">{{ document.remainingAmount }}</div>
            <div class="px-2 pb-1 pt-0 md:p-2 md:order-2 text-xs font-light md:text-base md:font-semibold md:col-span-2 lg:col-span-3">{{ document.customer.name|default('') }}</div>
            <div class="px-2 pb-1 pt-0 md:p-2 md:order-3 text-xs font-normal md:text-base md:font-normal md:text-md text-right
                {% if document.remainingAmount >0 and (diff > 0) and (diff < 7) %} text-yellow-500 {% endif %} {{ document.remainingAmount >0 and diff >= 7 ?' text-red-500' : '' }}">
                {% if document.remainingAmount >0 and diff >= 0 %}
                    <span title="{{ 'invoice.date_due'|trans }}: {{ document.dateDue|format_date }}">{{ document.dateDue|diff_for_humans }}</span>
                {% else %}
                    <span title="{{ 'document.date_paid'|trans }}: {{ document.datePaid|format_date }}">{{ document.dateDue|format_date }}</span>
                {% endif %}
            </div>
            {#        <div class="p-2 hidden lg:block md:order-4">2 500,00</div> #}
            {#        <div class="p-2 hidden md:block md:order-5">3 025,00</div> #}
            <div class="px-2 pb-3 pt-1 md:p-2 col-span-2 md:col-span-1 text-right md:order-7  flex justify-end items-center space-x-2">
                <button {{ stimulus_action('email/send-email','open') }}
                        data-document-id="{{ document.id }}"
                        data-document-number="{{ document.documentNumber }}"
                        data-company-name="{{ company.name }}"
                        data-email="{{ document.customer.email }}">
                    <svg class="size-5">
                    <use href="#envelope-arrow-up-fill"/>
                </svg>
                </button>

                <a href="{{ path('app_document_print',{'document':document.id,'company':company.publicId}) }}"
                   target="_blank" class="hover:text-primary cursor-pointer">
                    <svg class="size-5">
                        <use href="#filetype-pdf"/>
                    </svg>
                </a>
                <button
                        {#                        {{ stimulus_controller('payment/payment') }} #}
                        {{ stimulus_action('payment/payment','open') }}
                        data-payment-document-id="{{ document.id }}"
                        data-payment-amount="{{ document.remainingAmount }}"
                        class="hover:text-primary cursor-pointer">
                    <svg class="size-5">
                        <use href="#check-circle-fill"/>
                    </svg>
                </button>
            </div>
        </div>
    {% else %}
        <p class="p-2">{{ 'invoice.no_record_found'|trans }}</p>
    {% endfor %}
</div>
