<div class="bg-background-secondary p-0 md:p-4">
    <div class="bg-table-header text-text-primary/80 grid grid-cols-2 md:grid-cols-6 lg:grid-cols-7">
        <div class="p-2 pb-1 md:p-2 md:order-1 sm:col-span-1">Č. dokladu</div>
        <div class="p-2 pb-1 md:p-2 md:order-6 text-right">Zbývá uhradit</div>
        <div class="px-2 pb-2 pt-0 md:p-2 md:order-2 text-xs font-light md:text-base md:font-normal md:col-span-2 lg:col-span-3">
            Zákazník
        </div>
        <div class="px-2 pb-2 pt-0 md:p-2 md:order-3 text-xs font-light md:text-base md:font-normal text-right">
            Splatnost
        </div>
        {#        <div class="p-2 md:order-4 hidden lg:block">Cena bez DPH</div> #}
        {#        <div class="p-2 md:order-5 hidden md:block">Cena s DPH</div> #}
        <div class="p-2 md:order-7 col-span-2 sm:col-span-1 hidden md:block"></div>
    </div>
    {% for document in documents %}
        <div class="grid grid-cols-2 md:grid-cols-6 lg:grid-cols-7 border-b border-b-border">
            <div class="p-2 pb-1 md:p-2 sm:col-span-1 md:order-1 text-lg font-medium md:text-base md:font-normal text-text-primary/60">{% if is_granted('EDIT',document) %}
                    <a
                    href="{{ path('app_document_edit', {'company': company.id, 'document': document.id}) }}"
                    class="text-decoration-none">{{ document.documentNumber }}</a>{% else %}{{ document.documentNumber }}{% endif %}
            </div>
            <div class="p-2 pb-1 md:p-2 md:order-6 text-right text-lg font-medium md:text-base md:font-normal text-text-primary/60">{{ document.toPay }}</div>
            <div class="px-2 pb-1 pt-0 md:p-2 md:order-2 text-xs font-light md:text-base md:font-normal md:col-span-2 lg:col-span-3">{{ document.customerName }}</div>
            <div class="px-2 pb-1 pt-0 md:p-2 md:order-3 text-xs font-light md:text-base md:font-normal md:text-md text-right">{{ document.dateIssue ? document.dateIssue|date('Y-m-d') : '' }}</div>
            {#        <div class="p-2 hidden lg:block md:order-4">2 500,00</div> #}
            {#        <div class="p-2 hidden md:block md:order-5">3 025,00</div> #}
            <div class="px-2 pb-3 pt-1 md:p-2 col-span-2 md:col-span-1 text-right md:order-7  flex justify-end items-center space-x-2">
                <svg class="size-5">
                    <use href="#envelope-arrow-up-fill"/>
                </svg>

                <a href="{{ path('app_document_print',{'document':document.id,'company':company.id}) }}"
                   target="_blank" class="text-primary">
                    <svg class="size-5">
                        <use href="#filetype-pdf"/>
                    </svg>
                </a>

                <svg class="size-5">
                    <use href="#check-circle-fill"/>
                </svg>
            </div>
        </div>
    {% else %}
        <p class="p-2">{{ 'invoice.no_record_found'|trans }}</p>
    {% endfor %}

</div>
