{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1 class="mb-5">
        <a href="{{ path('app_dash_board',{'company': company.id}) }}" class="text-decoration-none">
            <svg class="bi me-3 mb-1" width="30" height="30">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        Faktury - vydané
    </h1>

    <div {{ stimulus_controller('documents/filter',{}) }}>
        {{ form_start(formFilter) }}
        <div class="row mb-5">
            <div class="col-md-2">
                {{ form_row(formFilter.q, {'attr':{
                    'data-action':'documents--filter#onChange'
                }}) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formFilter.state, {'attr':{
                    'data-action':'documents--filter#submitForm'
                }}) }}
            </div>
            <div class="col-md-3">
                {{ form_row(formFilter.customer, {'attr':{
                    'data-action':'documents--filter#submitForm'
                }}) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formFilter.dateFrom, {'attr':{
                    'data-action':'documents--filter#submitForm'
                }}) }}
            </div>
            <div class="col-md-2">
                {{ form_row(formFilter.dateTo, {'attr':{
                    'data-action':'documents--filter#submitForm'
                }}) }}
            </div>
            <div class="col-md-1">
                <div class="form-floating">
                    <button class="btn btn-info mt-2" data-action="documents--filter#submitForm">{{ 'FILTER' }}</button>
                </div>
            </div>
        </div>
        {{ form_end(formFilter) }}
        <div class=" mb-3">

            <a href="{% if documentNumberExist %}{{ path('app_document_new', {'company': company.id}) }}{% else %}#{% endif %}"
               class="text-decoration-none {% if not documentNumberExist %}link-secondary pe-none{% endif %}">
                <svg width="16" height="16" class="bi me-1">
                    <use href="#plus-circle-fill"/>
                </svg>
                NOVÁ FAKTURA</a>

            <a href="#" class="text-decoration-none mx-4 ">
                <svg width="16" height="16" class="bi me-1">
                    <use href="#cash-coin"/>
                </svg>
                PŘÍJMOUT PLATBY</a>
            <a href="#" class="text-decoration-none">
                <svg width="16" height="16" class="bi me-1">
                    <use href="#download"/>
                </svg>
                EXPORT SEZNAMU</a>
        </div>
        <div data-documents--filter-target="documentList">
            {{ include('document/_list.html.twig') }}
        </div>
    </div>
{% endblock %}
