{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3">
        <a href="{{ path('app_dash_board',{'company': company.id}) }}">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>Faktury - vydané</span>
    </h1>

    <div {{ stimulus_controller('documents/filter',{}) }}>


        {% form_theme formFilter 'form/form_layout.html.twig' %}
        {{ form_start(formFilter,{'attr':{'class':"grid grid-flow-col justify-items-center space-x-3 mb-5"}}) }}
        {{ form_errors(formFilter) }}

        {{ form_row(formFilter.q, {'attr':{
            'data-action':'documents--filter#onChange',
        }}) }}

        {{ form_row(formFilter.state, {'attr':{
            'data-action':'documents--filter#submitForm',

        }}) }}

        {{ form_row(formFilter.customer, {'attr':{
            'data-action':'documents--filter#submitForm',
        }}) }}

        {{ form_row(formFilter.dateFrom, {'attr':{
            'data-action':'documents--filter#submitForm',
        }}) }}


        {{ form_row(formFilter.dateTo, {'attr':{
            'data-action':'documents--filter#submitForm',
        }}) }}


        <div>
            <label>&nbsp;</label>
            <button class="" data-action="documents--filter#submitForm">{{ 'FILTER'|trans }}</button>
        </div>

        {{ form_end(formFilter) }}

        <div class="grid grid-flow-col justify-items-center md:justify-start space-x-3 md:space-x-4 mb-3">
            {% if is_granted('CREATE') %}
                <a href="{% if documentNumberExist %}{{ path('app_document_new', {'company': company.id}) }}{% else %}#{% endif %}"
                   class="text-primary flex justify-start items-center space-x-1 {% if not documentNumberExist %}link-secondary pe-none{% endif %}">
                    <svg class="size-4">
                        <use href="#plus-circle-fill"/>
                    </svg>
                    <span>{{ 'NEW_INVOICE'|trans }}</span></a>
            {% endif %}
            <a href="#" class="text-primary flex justify-start items-center space-x-1">
                <svg class="size-4">
                    <use href="#cash-coin"/>
                </svg>
                <span>{{ 'CHECK_PAYMENT'|trans }}</span></a>
            <a href="#" class="text-primary flex justify-start items-center space-x-1">
                <svg class="size-4">
                    <use href="#download"/>
                </svg>
                <span>{{ 'EXPORT_LIST'|trans }}</span></a>
        </div>
        <div data-documents--filter-target="documentList">
            {{ include('document/_list.html.twig') }}
        </div>
    </div>
{% endblock %}
