{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1 class="mb-5">
        <a href="{{ path('app_dash_board',{'company': company.id}) }}" class="text-decoration-none"><svg class="bi me-3 mb-1" width="30" height="30">
            <use href="#arrow-left-circle"/>
        </svg></a>
        Faktury - vydané
    </h1>

    {{ form_start(formFilter) }}
    <div class="row mb-5">
        <div class="col-md-2">
            {{ form_row(formFilter.q) }}
        </div>
        <div class="col-md-2">
            {{ form_row(formFilter.state) }}
        </div>
        <div class="col-md-3">
            {{ form_row(formFilter.customer) }}
        </div>
        <div class="col-md-2">
            {{ form_row(formFilter.dateFrom) }}
        </div>
        <div class="col-md-2">
            {{ form_row(formFilter.dateTo) }}
        </div>
        <div class="col-md-1">
            <div class="form-floating">
                <button class="btn btn-info mt-2">{{ 'FILTER' }}</button>
            </div>
        </div>
    </div>
    {{ form_end(formFilter) }}
    <div class=" mb-3">
        <a href="{{ path('app_document_new', {'company': company.id}) }}" class="text-decoration-none">
            <svg width="16" height="16" class="bi me-1">
                <use href="#plus-circle-fill"/>
            </svg>
            NOVÁ FAKTURA</a>
        <a href="#" class="text-decoration-none mx-4">
            <svg width="16" height="16" class="bi me-1">
                <use href="#cash-coin"/>
            </svg>
            PŘÍJMOUT PLATBY</a>
        <a href="#" class="text-decoration-none">
            <svg width="16" height="16" class="bi me-1">
                <use href="#download"/>
            </svg>
            EXPORT SEZNAMU</a>
    </div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th>DocumentNumber</th>
            <th>CustomerId</th>
            <th>DateIssue</th>
            <th>DatePay</th>
            <th>PriceNoVat</th>
            <th>PriceTotal</th>
            <td>ToPay</td>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td><a href="{{ path('app_document_edit', {'company': company.id, 'id': document.id}) }}" class="text-decoration-none">{{ document.documentNumber }}</a></td>
                <td>{{ document.customerName }}</td>
                <td>{{ document.dateIssue ? document.dateIssue|date('Y-m-d') : '' }}</td>
                <td>{{ document.dateDue ? document.dateDue|date('Y-m-d') : '' }}</td>
                <td>{{ document.price }}</td>
                <td>{{ document.priceWithVat }}</td>
                <td>{{ document.toPay }}</td>
                <td>
                    <svg width="20" height="20" class="bi me-1">
                        <use href="#envelope-arrow-up-fill"/>
                    </svg>
                    <svg width="18" height="18" class="bi me-1">
                        <use href="#filetype-pdf"/>
                    </svg>
                    <svg width="18" height="18" class="bi">
                        <use href="#check-circle-fill"/>
                    </svg>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
