{% extends 'base.html.twig' %}

{% block title %}{{ 'invoice.outgoing_invoices'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3 px-2 md:px-0">
        <a href="{{ path('app_dash_board',{'company': company.publicId}) }}">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>{{ 'invoice.outgoing_invoices'|trans }}</span>
    </h1>

    <div class="mt-8 md:mb-8 gap-4 flex fixed bottom-0 left-0 justify-center w-full md:relative md:justify-start bg-gray-900 md:bg-transparent py-2">
        {% if is_granted('CREATE') %}
            <a href="{% if documentNumberExist %}{{ path('app_document_new', {'company': company.publicId}) }}{% else %}#{% endif %}"
               class="px-4 py-2 order-2 md:order-1 rounded-sm  bg-gray-700 hover:bg-table-header hover:text-white/80 flex items-center {% if not documentNumberExist %}link-secondary pe-none{% endif %}">
                <svg class="size-5 mr-2">
                    <use href="#plus-circle-fill"/>
                </svg>
                <span class="hidden sm:block">{{ 'button.invoice.new_invoice'|trans }}</span>
                <span class="sm:hidden">{{ 'button.invoice.new_invoice_short'|trans }}</span>
            </a>
        {% endif %}

        <a href="#"
           class="px-4 py-2 order-1 md:order-2 rounded-sm  bg-gray-700 hover:bg-table-header hover:text-white/80 flex items-center">
            <svg class="size-5 mr-2">
                <use href="#filetype-pdf"/>
            </svg>
            <span class="hidden sm:block">{{ 'button.invoice.export_list'|trans }}</span>
            <span class="sm:hidden">{{ 'button.invoice.export_list_short'|trans }}</span>
        </a>
    </div>


    <div data-controller="documents--filter payment--payment"
         data-action="payment--payment:document:paid->documents--filter#onChange">

        {{ include('document/_filter.html.twig') }}

        <div data-documents--filter-target="documentList">
            {{ include('document/_list.html.twig') }}
        </div>


        <div
                class="fixed inset-0 z-10
                bg-black bg-opacity-50 backdrop-blur-[1px] flex items-center justify-center
         opacity-0 scale-95 transition-opacity transition-transform duration-500 pointer-events-none"
                {{ stimulus_target('payment/payment', 'modal') }} >
            <div class="bg-white rounded-sm shadow-lg w-full md:max-w-md transition duration-500 ease-in-out">
                <div class="bg-table-header text-text-primary/80 p-4 flex items-center place-content-between">
                    <h2 class="text-xl font-bold">Zadat platbu</h2>
                    <button {{ stimulus_action('payment--payment','close') }}>
                        <svg class="size-6">
                            <use href="#xmark"/>
                        </svg>
                    </button>
                </div>
                <div class="p-4 bg-background-secondary text-center">
                    {{ form_start(formPayment, {
                        'attr':{
                            'data-payment--payment-target':'form' ,
                        }
                    }) }}
                    {{ form_widget(formPayment.documentId,{
                        'attr' : { 'data-payment--payment-target':'documentId',}
                    }) }}
                    {{ form_widget(formPayment.date,{
                        'attr': {'class':'text-2xl text-center border-border bg-background-secondary mb-4 w-full border-0 border-b-2'}
                    }) }}
                    {{ form_widget(formPayment.bankAccount,{
                        'attr' : {
                            'class':'text-2xl text-center border-border bg-background-secondary mb-4 w-full border-0 border-b-2'}
                    }) }}
                    {{ form_widget(formPayment.amount,{
                        'attr' : {
                            'data-payment--payment-target':'amount' ,
                            'class':'text-2xl text-center border-border bg-background-secondary mb-6 w-full border-0 border-b-2'}
                    }) }}

                    <button class="w-full p-2 bg-green-700 hover:bg-green-500 text-green-100">Uhradit</button>
                    {{ form_end(formPayment) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
