{% extends 'base.html.twig' %}

{% block title %}{{ 'invoice.edit_invoice_outgoing'|trans }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('email/send-email') }}
            data-email--send-email-subject-template-value="{{ emailTemplate.subject|default }}"
            data-email--send-email-content-template-value="{{ emailTemplate.content|default('') }}"
            data-email--send-email-user-name-value="{{ userName }}"
            data-email--send-email-company-name-value="{{ company.name }}"
    >
        <h1 class="mb-5 flex justify-start items-center text-xl space-x-3 px-2 md:px-0">
            <a href="{{ path('app_document_index', {'company': company.publicId}) }}">
                <svg class="size-8">
                    <use href="#arrow-left-circle"/>
                </svg>
            </a>
            <span>{{ 'invoice.invoice'|trans }}:{{ document.documentType.name }} {{ document.documentNumber }}</span>
        </h1>

        <div class="mt-8 md:mb-8 flex fixed bottom-0 left-0 justify-center w-full md:relative md:justify-start bg-gray-900 md:bg-transparent py-2">
            <a class="px-4 py-2 rounded-sm  bg-gray-700 hover:bg-table-header hover:text-white/80 flex items-center mr-4"
               href="{{ path('app_document_edit',{document:document.id, company:company.publicId}) }}">
                <svg class="size-4 mr-2">
                    <use href="#pen-to-square"/>
                </svg>
                <span>Upravit</span>
            </a>
            <button class="px-4 py-2 rounded-sm bg-gray-700 hover:bg-table-header hover:text-white/80 flex items-center mr-4"
                    {{ stimulus_action('email/send-email','open') }}
                    data-document-id="{{ document.id }}"
                    data-document-number="{{ document.documentNumber }}"
                    data-email="{{ document.customer.email|default('') }}">
                <svg class="size-4 mr-2">
                    <use href="#envelope-arrow-up-fill"/>
                </svg>
                <span>Poslat</span>
            </button>
            <a class="px-4 py-2 rounded-sm bg-gray-700 hover:bg-table-header hover:text-white/80 flex items-center mr-4"
               href="{{ path('app_document_print',{'document':document.id,'company':company.publicId}) }}">
                <svg class="size-4 mr-2">
                    <use href="#filetype-pdf"/>
                </svg>
                <span>PDF</span>
            </a>
        </div>

        <div class="bg-card-bg p-0 md:p-8 mb-8">
            <div class="grid grid-cols-1 md:grid-cols-2">
                <div class="p-4 md:ml-32">
                    <div class="w-fit mx-auto md:mx-0">
                        {% if document.customer is not null %}
                            {% set customer = document.customer %}
                            <span class="font-semibold">{{ customer.name }}</span><br>
                            {{ customer.street }} {{ customer.houseNumber }}<br>
                            {{ customer.zipcode }} {{ customer.town }}<br>
                            {% if customer.companyNumber %}{{ 'customer.company_number'|trans }}: {{ customer.companyNumber }}
                                <br>{% endif %}
                            {% if customer.vatNumber %}{{ 'customer.vat_number'|trans }}: {{ customer.vatNumber }}
                                <br>{% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="p-4 md:mr-10 columns-2">
                    <div class="text-right">{{ 'document.date_issue'|trans }}:</div>
                    {% set diff = ('now'|date('U') - document.dateDue|date('U')) // 86400 %}
                    <div class="text-right">{{ 'document.date_due'|trans }}:</div>
                    <div class="text-right">{{ 'document.date_taxable'|trans }}:</div>
                    <div class="text-right">{{ 'document.payment_type'|trans }}:</div>
                    <div class="text-right">{{ 'document.date_paid'|trans }}:</div>
                    <div class="text-right">{{ 'document.variable_symbol'|trans }}:</div>
                    <div>{{ document.dateIssue|format_date }}</div>
                    <div class="{% if document.isPaid == false %}
                                {% if (diff > 0) and (diff < 7) %} text-warning {% endif %}
                                {% if diff >= 7 %} text-red-500 {% endif %}
                            {% endif %}">{{ document.dateDue|format_date }}</div>
                    <div>{{ document.dateTaxable|format_date }}</div>
                    <div>{{ document.paymentType.name|default('') }}</div>
                    <div>{{ document.datePaid?document.datePaid|format_date:'&nbsp;' }}</div>
                    <div>{{ document.variableSymbol }}</div>
                </div>
            </div>
            <div class="text-center  font-semibold">
                {% set diff = ('now'|date('U') - document.dateDue|date('U')) // 86400 %}
                {% if document.remainingAmount == 0 %}
                    <div class="bg-success/60 text-white/80 hover:text-white/90 p-2 block sm:block md:inline">{{ 'invoice.paid'|trans }}</div>
                {% elseif document.remainingAmount > 0 and diff>0 %}
                    <div class="{{ (diff > 0) and (diff < 7)? 'bg-yellow-700 text-yellow-100' }} {{ diff >= 7 ?' bg-error/60 text-red-100' }}  p-2 block sm:block md:inline">{{ 'invoice.overdue'|trans }}
                        : {{ document.remainingAmount|default(0)|number_format(2,',',' ') }} {{ document.currency.symbol|default('') }}</div>
                {% elseif document.remainingAmount > 0 and diff<=0 %}
                    {{ 'invoice.to_pay'|trans }}: {{ document.remainingAmount|default(0)|number_format(2,',',' ') }} {{ document.currency.symbol|default('') }}
                {% elseif document.remainingAmount < 0 %}
                    <div class="bg-purple-700 text-purple-100 p-2 block sm:block md:inline">
                        {{ 'invoice.overpayment'|trans }}
                        : {{ document.remainingAmount|default(0)|abs|number_format(2,',',' ') }} {{ document.currency.symbol|default('') }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% if document.note %}
            <div class="bg-card-bg p-0 md:p-8 mb-8">
                <div class="bg-table-header p-2 px-4">{{ 'invoice.note'|trans }}</div>
                <p class="p-4">{{ document.note }}</p>
            </div>
        {% endif %}

        <div class="bg-card-bg p-0 md:p-8">
            <div class="grid grid-cols-[3fr_7fr_3fr_2fr] sm:grid-cols-[2fr_8fr_3fr_2fr] md:grid-cols-[1fr_3fr_1fr_1fr] lg:grid-cols-[1fr_8fr_2fr_1fr] gap-2 bg-table-header p-2 px-4">
                <div>
                    {{ 'invoice.item_quantity'|trans }}
                </div>
                <div>
                    {{ 'invoice.item_name'|trans }}
                </div>
                <div class="text-right">
                    {{ 'invoice.item_price_of_unit_of_measure'|trans }}
                </div>
                <div class="text-right">
                    {{ 'invoice.item_vat'|trans }}
                </div>
            </div>
            {% for item in document.documentItems %}
                <div class="grid grid-cols-[3fr_7fr_3fr_2fr] sm:grid-cols-[2fr_8fr_3fr_2fr] md:grid-cols-[1fr_3fr_1fr_1fr] lg:grid-cols-[1fr_8fr_2fr_1fr] gap-2 p-2 px-4 border-b border-input-border">
                    <div>
                        {{ item.quantity }}&nbsp;{{ item.unit }}
                    </div>
                    <div>
                        {{ item.name }}
                    </div>
                    <div class="text-right">
                        {{ item.price }}
                    </div>
                    <div class="text-right">
                        {{ item.vat.vatAmount|default('') }}
                    </div>
                </div>
            {% endfor %}

            <div class="mt-6 p-2 pb-4">
                <div class="grid grid-cols-[1fr_1fr] gap-2 justify-end">
                    {% for documentPrice in document.documentPrices %}
                        {% if documentPrice.priceType.id == 2 %}
                            <div class="text-right">{{ documentPrice.vatLevel ? documentPrice.vatLevel.name }}</div>
                            <div class="text-right">{{ documentPrice.amount|default(0)|number_format(2,',',' ') }} {{ document.currency.symbol|default('') }}</div>
                        {% endif %}
                    {% endfor %}
                    {% for documentPrice in document.documentPrices %}
                        {% if documentPrice.priceType.id == 1 %}
                            <div class="text-right">CELKEM K ÚHRADĚ</div>
                            <div class="text-right">
                                {{ documentPrice.amount|default(0)|number_format(2,',',' ') }} {{ document.currency.symbol|default('') }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ include('document/_send_by_email_modal.html.twig') }}
    </div>
{% endblock %}