{% extends 'base.html.twig' %}

{% block title %}{{ 'user.personal_info'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-5 flex justify-start items-center text-xl space-x-3 px-2 md:px-0">
        <a href="{{ path('app_dash_board', {'company': company.publicId}) }}">
            <svg class="size-8">
                <use href="#arrow-left-circle"/>
            </svg>
        </a>
        <span>{{ 'user.personal_info'|trans }}</span>
    </h1>


    <div class="col-md-6 px-2">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="w-full mt-10 p-2 bg-green-700 hover:bg-green-500 text-green-100">{{ 'button.save'|trans }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
